@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url("https://use.typekit.net/iae4cin.css");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  height: 100%;
}
body {
  min-height: 100vh;
}

input:autofill {
  box-shadow: 0 0 0px 1000px #ffadde33 inset;
  background-color: transparent;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: larger;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: #EDEBEC;
}

code {
  font-family: 'Inter', monospace;
}

.custom-text-shadow {
  text-shadow: 0px 5px 0px #AEA6A5;
}



.custom-text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.text-shadow-contact {
  text-shadow: 0px 2.5px 2px #0000004b;
}

.text-shadow-keepup {
  text-shadow: 0px 2px 0px #4E4544;
}

.icon-shadow {
  box-shadow: 3px 3px 4px #0000004b;
}

h1 {
  font-family: "cooper-black-std", serif;
}


body * {
  box-sizing: border-box;
}

footer {
  font-family: "Montserrat", sans-serif;
  color:white;
}
